@import "tailwindcss";

:root {
  --background: 240 23% 9%;
  --foreground: 231 14% 90%;
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-satoshi);
  --font-mono: var(--font-erode);
}

body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: hsl(var(--background) / 60%);
  color: hsl(var(--foreground));
  font-family: var(--font-sans), Helvetica, sans-serif;
}